In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv(r"C:\Users\zacha\神州\data\csv\homeprices.csv")
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [5]:
import math
med_bedrooms = math.floor(df.bedrooms.median())
med_bedrooms

4

In [8]:
df.bedrooms = df.bedrooms.fillna(med_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
model = linear_model.LinearRegression()
model.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [12]:
print(model.coef_)
print(model.intercept_)

[  112.06244194 23388.88007794 -3231.71790863]
221323.00186540408

In [17]:
model.predict([[3000,3,40]])

C:\Users\zacha\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])