In [2]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [7]:
df = pd.read_csv(r"C:\Users\zacha\神州\data\csv\student_math.csv", sep = ';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [8]:
df = df[['G1','G2','G3','studytime','failures','absences']]
df.head()

   G1  G2  G3  studytime  failures  absences
0   5   6   6          2         0         6
1   5   5   6          2         0         4
2   7   8  10          2         3        10
3  15  14  15          3         0         2
4   6  10  10          2         0         4

In [12]:
predict = 'G3'

In [14]:
x = np.array(df.drop([predict], 1))
y = np.array(df[predict])

C:\Users\zacha\AppData\Local\Temp\ipykernel_1676\3572903492.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x = np.array(df.drop([predict], 1))

In [20]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x,y, test_size = 0.2)

In [21]:
linear = linear_model.LinearRegression()

In [22]:
linear.fit(x_train, y_train)

LinearRegression()

In [23]:
accuracy = linear.score(x_test, y_test)
print(accuracy)

0.8449441214483113

In [24]:
print('Coefficient:', linear.coef_)
print('Intercept:', linear.intercept_)

Coefficient: [ 0.14415731  0.96524086 -0.09505785 -0.3737005   0.03027414]
Intercept: -1.3427406887218005

In [25]:
predictions = linear.predict(x_test)

In [26]:
for x in range (len(predictions)):
    print(predictions[x], x_test[x], y_test[x])

12.26479230072674 [10 13  2  1  6] 13
3.594312500720906 [3 5 2 1 8] 5
-1.6085702882029653 [4 0 1 2 0] 0
7.3078194445985165 [8 8 3 0 2] 10
18.485410225077405 [19 18  3  0  0] 19
10.76558138752585 [11 11  1  0  0] 12
8.068354702425218 [7 9 3 0 0] 8
11.936728987638322 [14 12  2  1  8] 12
19.476689808517712 [19 19  4  0  4] 20
10.66628811440559 [11 11  3  0  3] 11
6.376833638998466 [8 8 1 3 2] 10
2.684865098179343 [7 4 1 2 0] 0
4.303487160787611 [ 6  5  1  1 14] 5
14.880349894353156 [13 15  2  0  2] 16
9.731321397830357 [11 10  3  0  4] 11
16.361671726743662 [17 16  2  0  0] 17
10.731071822883607 [11 11  2  0  2] 11
11.938505833980793 [11 12  2  0 10] 13
-0.8023978400554738 [7 0 1 1 0] 0
12.693801973186842 [16 12  1  0  8] 13
16.289511524575015 [15 16  1  0  4] 15
9.731158308405831 [ 8 10  1  0 12] 10
14.278561849395944 [16 14  4  0  6] 15
6.3770881488297535 [8 7 2 0 0] 8
14.963958921594372 [14 15  2  0  0] 15
10.958838165037582 [13 11  2  0  0] 10
5.1610202066951 [5 6 2 0 6] 6
9.466067507574506 [10 10  3  0  0] 9
12.733550656449738 [10 13  1  0  6] 13
10.863617223299268 [10 11  1  0  8] 10
3.7845912947730094 [6 5 2 1 0] 0
14.989997644623674 [14 15  3  0  4] 16
7.8353492416505865 [11  8  2  0  2] 8
9.103331540419317 [11  9  2  0 12] 9
9.682221935231384 [10 10  2  0  4] 10
14.687093116841421 [11 15  1  0  2] 15
12.928008571078628 [14 13  3  1 12] 13
8.644820872651735 [8 9 1 0 8] 10
5.143396025049057 [ 6  6  2  1 13] 8
9.561125359888294 [10 10  2  0  0] 10
3.6166344416407368 [ 6  5  1  3 16] 5
16.278062699502446 [16 16  2  0  2] 16
16.278062699502446 [16 16  2  0  2] 17
12.673719217076798 [14 12  2  0 20] 13
7.97329685011143 [7 9 4 0 0] 0
11.647213220695642 [10 12  1  0  2] 12
8.405768794849712 [10  9  4  0  0] 0
3.1322481402683797 [6 5 1 3 0] 0
5.362747825819775 [7 6 1 0 0] 0
14.385068526782304 [15 14  2  0  8] 14
8.716981074820378 [10  9  2  0  4] 11
7.789227762511244 [ 9  8  2  0 10] 8
12.203759724236642 [12 12  2  0 14] 12
10.347699340744295 [ 9 11  3  0  2] 11
12.759013670253724 [15 13  3  2 14] 13
12.805710858618381 [12 13  2  0  2] 12
13.154573776115447 [14 13  2  0  4] 13
4.724994569271874 [8 6 2 2 2] 5
10.285927965604358 [13 10  2  1 22] 11
14.770702144082637 [12 15  1  0  0] 15
8.428666444994857 [8 9 2 0 4] 10
11.838693151864902 [15 12  2  1  0] 12
6.379811622458095 [ 7  8  2  3 10] 10
15.58528913361339 [16 15  2  0 11] 15
5.9567818774626495 [ 8  6  2  0 18] 7
8.041577180746076 [9 9 1 2 8] 9
11.77992171053583 [12 12  2  0  0] 11
3.8336907573719827 [7 5 3 1 0] 0
9.179344684315694 [ 8  9  1  1 38] 8
12.949868173531142 [13 13  2  0  2] 11
10.02067407534851 [12 10  2  1 18] 10
18.49262362934351 [18 18  3  0  5] 19
15.108116236507133 [15 15  2  0  0] 15
6.751826699931595 [ 7  7  1  0 14] 5
18.64101636506274 [19 18  2  0  2] 18
9.777279787545174 [10 10  1  0  4] 10
15.312821839091438 [16 15  2  0  2] 15
8.561374934835044 [10  9  3  0  2] 8
9.212816201265309 [ 9  9  1  0 22] 9