In [12]:
# Libraries
import pandas as pd
df = pd.read_csv(r"C:\Users\zacha\神州\data\csv\homeprices.csv")
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [3]:
# Dummies
dummies = pd.get_dummies(df.town)
merged = pd.concat([df,dummies],axis='columns')
merged

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [4]:
# Drop Columns
df = merged.drop(['town','west windsor'],axis='columns')
df

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

In [5]:
# Model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [6]:
# Variables
x = df.drop(['price'],axis='columns')
y = df.price

In [7]:
# Fit
model.fit(x,y)

LinearRegression()

In [8]:
# Predict
model.predict([[2800,0,1]])

C:\Users\zacha\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([590775.63964739])

In [9]:
# Accuracy
model.score(x,y)

0.9573929037221873

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [13]:
le_df = df
le_df.town = le.fit_transform(le_df.town)

In [14]:
x = le_df[['town','area']].values
y = le_df[['price']].values

In [17]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features=[0])

x = ohe.fit_transform(x).toarray()